@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700&display=swap');

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s linear;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link, .logo-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0px 0px 0px 10px;
    transition:all 0.2s linear;
}
.link:hover{
    color: #ffbb00;
    background: #0091ff;
    padding: 5px 8px;
}
body {
    font-family: 'Overpass', sans-serif;
    background-image: linear-gradient(120deg,#d5ecfa,#dde6ec);
}
.profile {
    padding: 30px 50px;
}
h5 {
    font-weight: 300;
    color: #585859;
}
.title {
    color: #ffb700;
}
ul {
    list-style-type: decimal;
}
.current {
    color: #ffffff;
    background: #000000;
    padding: 5px 8px;
    border:2px solid #ffffff;
}
.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background-image: linear-gradient(120deg,#a5d6f4,#73a7c7);
}
.scroll-indicator {
    position: fixed;
    height: 0.2rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.scroll-indicator-bar {
    background-color: #ffbb00;
    height: 0.2rem;
    width: 0%;
}

